<%- include('../partials/head') %>
<div class="site-shell" style="--bg-main:url('<%= site.backgroundMain %>'); --bg-left:url('<%= site.backgroundLeft %>'); --bg-right:url('<%= site.backgroundRight %>');">
  <%- include('../partials/header') %>
  <main class="container inner-page glass page-block center-detail">
    <h1>404</h1>
    <p>Halaman tidak ditemukan.</p>
    <a href="/" class="action-btn">Kembali ke Home</a>
  </main>
  <%- include('../partials/footer') %>
</div>
